$brand-name-font-color: #000000;
$nav-font-color: #000000;
$welcome-screen-font-color: #FFFFFF;
$hover-font-color: #4eab6d;
$selection-background-color: #000000;
$selection-font-color: #FFFFFF;
$border-color: #000000;
$border-hover-color: #4eab6d;
$control-dot-color: #000000;
$overlay-color: #f0f0f0;
$button-border-color: #000000;
$button-hover-color: #221e1f;
$button-hover-text-color: #ffffff;