// brand name and nav
$brand-name-font-color: #000000;
$nav-font-color: #000000;
// welcome screen
$welcome-screen-font-color: #FFFFFF;
// standard font
$font-color: #000000;
$font-opacity-color: #000000b0;
$hover-font-color: #4eab6d;
// highlight text
$selection-background-color: #000000;
$selection-font-color: #FFFFFF;
// carousel
$border-color: #000000;
$border-hover-color: #4eab6d;
$control-dot-color: #000000;
// image overlay
$overlay-color: #f0f0f0;
// button color
$button-border-color: #000000;
$button-hover-color: #000000;
$button-hover-text-color: #ffffff;