@use './colors';

@mixin brand-name() {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3.25em;
  letter-spacing: -0.11em;
  text-decoration: none;
  color: colors.$brand-name-font-color;
  user-select: none;
}

@mixin nav() {
  display: flex;
  justify-content: space-between;
  margin: 0 2.5vw;

  .brand-name {
    @include brand-name();
    display: flex;
    align-items: flex-end;
  }

  ul {
    margin: 0; /* To remove default margin */
    padding: 0; /* To remove default left padding */
    font-family: univers;
    font-size: 1em;
    list-style: none;
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tab {
    text-decoration: none;
    color: colors.$nav-font-color;
    transition: color 0.15s ease-in-out;
  }

  .tab:hover {
    color: colors.$hover-font-color;
  }
}

@mixin center() {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
}

@mixin carousel() {
  .carousel {
    display: flex;
    justify-content: center;
  }

  .thumb {
    border: 3px solid colors.$border-color;
  }

  .thumb.selected,
  .thumb:hover {
    border: 3px solid colors.$border-hover-color;
    cursor: pointer;
  }

  .dot {
    background: colors.$control-dot-color;
    width: 10px;
    height: 10px;
  }
}

@mixin button() {
  font-family: univers;
  font-size: 1.25em;
  padding: 5px 20px;
  border: 2px solid colors.$button-hover-color;
  border-radius: 1em;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  outline: none;
  color: colors.$font-color;
}

@mixin buttonhover() {
  background-color: colors.$button-hover-color;
  color: colors.$button-hover-text-color;
}