@use './resolutions';
@use './colors';
@use './mixins';

.about {
  font-family: univers;
  display: flex;
  justify-content: center;
  margin: 5vh 0;

  .about-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: resolutions.$main-container-width;
    font-size: 1.2em;
    color: colors.$font-color;
  }

  .brand-name {
    @include mixins.brand-name();
    align-self: center;
  }
  img {
    margin-top: 5vh;
    align-self: center;
    width: 50%;
    height: auto;
  }

  @media screen and (max-width: resolutions.$main-container-width) {
    .main-message {
      width: 100%;
    }
  }
}
