@use './resolutions';

.cart {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .cart-container {
    width: resolutions.$cart-container-width;
    height: 100vh;
    margin: 5vh 0;
    display: flex;
    flex-direction: row;

    .items {
      width: 1100px;
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: red;

      .title {
        font-family: univers;
        font-size: 3em;
      }
      
      .quantity {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
      }
    }

    .summary {
      width: 300px;
      height: auto;
      background-color: blue;
    }
  }

  hr {
    height: 2px;
    color: black;
    background: black;
    border: 0;
    width: 100%;
  }
}
