@use './resolutions';
@use './colors';
@use './mixins';

.cart {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5vh 0;

  .cart-container {
    width: resolutions.$cart-container-width;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    .col {
      width: 1100px;
      height: auto;
      display: flex;
      flex-direction: column;

      .header-title {
        font-family: univers;
        font-size: 3em;
        margin-top: 20px;
      }

      .header-qty {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        margin-bottom: 20px;
      }

      .item {
        margin: 2vh 0 2.5vh 50px;
        display: flex;
        flex-direction: row;

        img {
          width: 100px;
          height: auto;
          margin-right: 25px;
        }

        .product {
          display: flex;
          flex-direction: column;

          .designer {
            font-family: univers;
            font-size: 1.2em;
          }

          .title {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.9em;
            color: colors.$font-opacity-color;
          }

          .colour {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.9em;
            color: colors.$font-opacity-color;
            padding: 22.5px 0 2.5px;
          }

          .qty {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.9em;
            color: colors.$font-opacity-color;
          }

          .price {
            display: flex;
            align-items: flex-end;
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.9em;
          }
        }
      }
    }

    .review {
      width: 500px;
      height: auto;
      padding-left: 50px;
      margin: 15vh 0;
      font-family: univers;
      display: flex;
      flex-direction: column;
      font-size: 1em;

      .summary {
        font-size: 1.4em;
        margin-bottom: 2.5vh;
      }

      .subtotal {
        margin-bottom: 2.5vh;
        display: flex;
        justify-content: space-between;
      }

      .shipping {
        margin-bottom: 2.5vh;
        display: flex;
        justify-content: space-between;
      }

      .total {
        margin-bottom: 2.5vh;
        display: flex;
        justify-content: space-between;
      }

      button {
        @include mixins.button();
      }

      button:hover {
        @include mixins.buttonhover();
      }
    }
  }

  hr {
    height: 1px;
    color: colors.$line-color;
    background: colors.$line-color;
    border: 0;
    width: 100%;
  }

  @media screen and (max-width: resolutions.$cart-container-width) {
    .cart-container {
      width: 85%;

      .col {
        width: 85vw;
      }

      .review {
        width: 500px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .cart-container {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-height: 75vh;
      width: 100%;

      .col {
        width: 85vw;
        margin: 0 0 2.5vh;
      }

      .review {
        padding: 0 0 0;
        width: 85vw;
        margin: 0;
      }
    }
  }
}
