@use './colors';
@use './mixins';

.home {
  .welcome-container {
    @include mixins.center();
    transform: translateY(0%);
    transition: transform cubic-bezier(0.9, 0, 0.34, 0.42) .9s;
    background-image: url("../components/assets/images/featured.jpeg");
    background-size: cover;
  }
  
  .welcome-container:active {
    transform: translateY(-100%);
  }
  
  .welcome-message-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-message-one {
    @include mixins.brand-name();
    color: colors.$white-font-color;
  }

  video {
    @include mixins.center();
    z-index: -1;
  }
}
