@use './colors';
@use './mixins';
@use './resolutions';

.home {
  font-family: univers;
  .welcome-screen {
    .welcome-screen-container {
      @include mixins.center();
      transform: translateY(0%);
      transition: transform cubic-bezier(0.9, 0, 0.34, 0.42) 0.9s;
      background-image: url('../assets/images/welcome.jpeg');
      background-size: cover;
      z-index: 1;
    }

    .welcome-screen-message-container {
      @include mixins.brand-name();
      color: colors.$welcome-screen-font-color;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .welcome-screen-message {
      opacity: 0;
      animation: fade-in 1.2s linear forwards;
      padding-right: 0.2em;
    }

    .welcome-screen-message:nth-child(1) {
      animation-delay: 400ms;
    }

    .welcome-screen-message:nth-child(2) {
      animation-delay: 1200ms;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .main {
    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5vh 0 0;

      .featured-image {
        margin-bottom: 10vh;
      }

      img {
        width: resolutions.$main-container-width;
        height: auto;
      }

      .main-message {
        width: resolutions.$main-container-width;
        height: 100%;
        margin-bottom: 10vh;
        text-align: center;
        font-size: 1.2em;
        color: colors.$font-color;
      }

      .carousel-container {
        margin-bottom: 10vh;
        width: 100%;
        @include mixins.carousel();
      }

      .shop-button-container {
        margin-bottom: 10vh;
        position: relative;

        img {
          display: block;
        }

        .shop-button-overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          transition: 0.3s ease-in-out;
          background-color: colors.$overlay-color;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .shop-button-container:hover .shop-button-overlay {
        opacity: 1;
      }

      @media screen and (max-width: resolutions.$main-container-width) {
        img {
          width: 100%;
          height: auto;
        }
        .main-message {
          width: 100%;
        }
      }
    }

    button {
      @include mixins.button();
    }

    button:hover {
      @include mixins.buttonhover();
    }
  }
}
