@use './colors';
@use './mixins';

nav {
  display: flex;
  justify-content: space-between;
  margin: 2.5vh 2.5vw 0;

  .brand-name {
    @include mixins.brand-name();
    display: flex;
    align-items: flex-end;
  }

  ul {
    margin: 0; /* To remove default margin */ 
    padding: 0; /* To remove default left padding */
    font-family: univers;
    font-size: 1em;
    list-style: none;
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tab {
    text-decoration: none;
    color: colors.$nav-font-color;
    transition: color 0.15s ease-in-out;
  }

  .tab:hover {
    color: colors.$hover-font-color;
  }

  .tab::selection {
    @include mixins.selection-color();
  }
}