@use './mixins';

.product-page {
  display: flex;
  justify-content: center;
  margin: 5vh 0;

  .product-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;

    .carousel-container {
      width: 25vw;
      height: auto;
      @include mixins.carousel();
    }
  }
}
